h3,
h4,
a {
    margin: 0;/*отступ от краёв*/
    font-size: 100%;/*размер шрифта*/
    font-weight: normal;
    color: whitesmoke;/*цвет шрифта*/

}

h1 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-style: italic;
}

h2 {
    font-size: 30px;
}

h5 {
    font-size: 12px;/*размер шрифта. находится в footer*/
}

p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    text-indent: 30px;
}


.footer {
    background-color: black;
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    color: #fafaff;
}


* {
    box-sizing: border-box;/*без этого картинки в один ряд встают*/

}

body {
    font-family: 'Verdana', sans-serif; /*'Georgia', serif; 'Courier', monospace; 'Snell Roundhand', cursive; 'Helvetica', 'Arial', sans-serif; (Verdana - пока это лучший шрифт)*/
    margin: 0;/*отступ от краёв*/
    font-size: 100%;/*размер шрифта*/
    background-color: black;/*основной цвет фона*/
    font-weight: normal;/*не понятно*/
    color: whitesmoke;/*цвет шрифта*/
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    position: fixed;
    color: yellow;
    background-color: yellow;
}





.header {
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://sun9-77.userapi.com/impg/VZzNSGJkGKEkzE9WgqvAVoK6PYTkTgC54mD2wg/mYnn47sOHaM.jpg?size=2560x1440&quality=95&sign=13059e7746ed65adf38b77557e78c81d&type=album);
/*фоновая картинка и разметка*/
background-position: center;
background-size: cover;
padding-left: 5%;
padding-right: 5%;
box-sizing: border-box;
}


nav {
    flex: 1;
    text-align: right;
    display: block;
    position: fixed;
    top: 0;
    padding-top: 10px;
    height: 90px;
    width: 90vw;
}

nav ul li {
    list-style: none;
    display: inline-block;/*выстраивание в одну линию*/
    margin-left: 40px;/*растояние между словами*/
}

nav ul li a {
    text-decoration: none;/*не понятно*/
    color: white;/*текст*/
    font-size: 40px;/*размер ссылки*/
}

.header-title {
    font-size: 30px;/*размер текста*/
    color: whitesmoke;/*не понятно*/
    /*text-transform: uppercase;*//*делает буквы заглавнымми*/
    margin: auto;
    font-style: italic;/*наклон шрифта*/
    font-weight: 500;/*шире делает, уже нет*/
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 70%;
}

.content {
    font-size: 0;
    width: 790px;
    margin: 10px auto 10px auto;
}

.card {
    width: 370px;/*Ширина рамки*/
    /*height: 400px;*//*Высота рамки*/
    margin-bottom: 70px;/*Расстояние между картинкама по высоте*/
    padding: 10px 10px 10px;/*Положение картинки в рамке*/
    display: inline-block;
    margin-right: 30px;
    box-shadow: 0px 0px 10px #FF00FF;
    transition: transform 0.5s;

}

.card:hover {
    transform: translateY(-10px);
}

.no-right-margin {
    margin-right: 0;
}

.card-title {
    font-weight: 100px;
    font-size: 28px;
    margin-bottom: 40px;
}

.card-text {
    font-size: 22px;
}

.card-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/*.footer {
  height: 120px;
  background-color: #474A51;
  display: flex;
}*/

.footer-author {
    font-size: 28px;
    color: #000000;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.foot {
    color: #000000;
    margin: auto;
    text-align: center;

}

.card-vira {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
